body {
  background-image: url('background.jpg');
  background-size: cover;
  font-family: 'Dongle', sans-serif;
}

h1 {
  text-align: center;
}

#quote {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}


#btn {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  text-align: center;
  box-shadow: 5px 5px 5px grey;
}

button {
  transition-duration: 0.4s;
}

button:hover {
  color: blueviolet;
  cursor: pointer;
  background-color: rgb(221, 213, 213);
}

button {
  text-align: center;
}

#date {
  position: fixed;
  font-size: 50px;
  margin-top: 150px;
  margin-left: 50px;
}

#name {
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 10px;
}